.one>a{
    border-bottom-style: solid;
    border-color: rgba(214, 247, 180, 0.375);
    color: rgb(101, 101, 101);  
}

h1{
    color: rgb(52, 52, 52);
    font-style: italic;
    font-family: Helvetica,sans-serif;
    font-size: 200px !important;
    text-shadow: 0 0 30px black  ;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

.classh2{
    text-align: center;
}

.classh2>h2{
    display: inline;
}

h2.r { 
    color: #111; 
    font-family: 'Times New Roman', sans-serif, sans-serif; 
    font-size: 30px; 
    font-weight: 300px; 
    line-height: 32px; 
    margin: 0 0 32px; 
    border-top-style: solid;
    border-color: #685206;
}

p.r{
    color: #685206; 
    font-family: "Helvetica Neue", sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    text-align: justify; 
    padding: 20px;
}

p.text1{
    border-right-style: solid;
    border-top-right-radius: 20px; 
}

.text{
    display: flex;
}