.two>a{
    border-bottom-style: solid;
    border-color:  rgba(214, 247, 180, 0.375);
    color: rgb(101, 101, 101);   
}

.setka{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3);
}

.element-setki{
    margin: 1.5em;
}

.element-setki>img{
    width: 100%;
    border-radius: 20px;
}

.element-setki{
    border-style: ridge ;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .setka{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5);
    }
}

@media (max-width: 600px) {
    .setka{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9);
    }

    .element-setki{
        margin-inline: 0;
    }
}

.od{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ch{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.element-setki>p{
    font-style: italic; 
    color: rgb(57, 57, 57);
    font-family: "Helvetica Neue", sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    text-align: justify; 
    padding-inline: 10px;
}

