footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bot-footer{
    padding-bottom: 25px;
    background-color:rgb(34, 34, 34);
    display: flex;
    justify-content: end;
    box-shadow: 0 0 5px 0.5px black;   
}

.number{
    color: antiquewhite;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 40px;
}

.r{
    margin-top: 70px;
}
